---
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
BreakBeforeBraces: Attach
NamespaceIndentation: None
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
PointerAlignment: Left
ReferenceAlignment: Left
SpacesBeforeTrailingComments: 2
Standard: c++23
